@import url("../variables.css");
#register-container{
    margin: 200px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-form span{
    text-transform: uppercase;
    color: wheat;
}
.register-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--loginBackground);
    width: 30vw;
    border-radius: 0.5rem;
}
.register-form input{
    background-color: rgba(0, 0, 0, 0.289);
    height: 2.5rem;
    width: 80%;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: 0.1rem solid var(--orangeRun);
    margin: 0.3rem 0 0.3rem 0; 
}
.register-form button{
    background-color: #83642987;
    border-radius: 0.5rem;
    color: wheat;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.register-form span{
    margin: 1rem 0rem;
}
.register-form a{
    color: var(--orangeRun);
    text-decoration: none;
}