@import url("../variables.css");
#background-component{
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #0C3F70;
    background: radial-gradient(at center top, var(--blueGradient), var(--orangeRun));
}