.footer-container {
  height: 200px;
  background-color: rgba(27, 27, 27, 0.3);
  backdrop-filter: blur(10px);
  color: wheat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
}
